# Created by https://www.gitignore.io/api/prepros
# Edit at https://www.gitignore.io/?templates=prepros

### Prepros ###
# Config Prepros files to ignore
prepros-6.config
/logs/
/logs
/admin/AdminLTE-2.4.2
# End of https://www.gitignore.io/api/prepros